<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
        <typeAlias type="com.personal.springboot.user.dao.entity.LoanUser" alias="loanUser"/>
        <typeAlias type="com.personal.springboot.user.dao.entity.UserDevice" alias="userDevice"/>
        <typeAlias type="com.personal.springboot.user.dao.entity.UserOperationHistory" alias="userOperationHistory"/>
    </typeAliases>
</configuration>